h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

#leftcol {
  width: 50%;
  float: left;
  padding-left: 5em;
  position: relative;
}

#maincol {
  padding-left: 5em;
  padding-top: 5em;
  position: relative;
}
