h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

#leftcol {
  width: 30%;
  float: left;
  padding-top: 0em;
  padding-right: 5em;
  padding-bottom: 0em;
  padding-left: 5em;
  position: relative;
}

#maincol {
  padding-top: 0em;
  padding-right: 5em;
  padding-bottom: 0em;
  padding-left: 5em;
  position: relative;
}
